.Button {
  color: #ffffff;
  background: #4667e8;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 32px;
  border-radius: 12px;
  min-width: fit-content;
  cursor: pointer;
}
