.Header {
  .header-style {
    background-color: #ffffff;
    min-height: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 120px;

    @media only screen and (max-width: 720px) {
      padding: 8px 40px;
    }

    .logo {
      height: 64px;
      @media only screen and (max-width: 720px) {
        height: 40px;
      }
    }
  }
}
